[submodule "spacevim/.SpaceVim"]
	path = configs/.SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "gitprompt/.bash-git-prompt"]
	path = configs/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "configs/.dircolors"]
	path = configs/.dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "configs/.oh-my-zsh"]
	path = configs/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "configs/.omz-custom/plugins/zsh-autosuggestions"]
	path = configs/.omz-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "configs/.n"]
	path = configs/.n
	url = https://github.com/tj/n.git
